<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meniu muzeu</title>
</head>
<body>
    <nav>
        <h1>Muzeul<br>Graniceresc Nasaudean</h1>
        <ul>            
            <li><a routerLink="">Acasa</a></li>
            <li><a routerLink="/istoric">Istoric si Publicatii</a></li>
            <li><a routerLink="/rezervari">Rezervari</a></li>
            <li><a routerLink="/tarife">Tarife si Contact</a></li>
            <li><a routerLink="/evenimente">Evenimente</a></li>
        </ul>
    </nav>
</body>