<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meniu muzeu</title>
</head>
<body>
    <nav>
        <h1>Muzeul Grăniceresc Năsăudean</h1>
        <ul>            
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Acasă</a></li>
            <li><a routerLink="/istoric" routerLinkActive="active">Istoric</a></li>
            <li><a routerLink="/rezervari" routerLinkActive="active">Rezervări</a></li>
            <li><a routerLink="/tarife" routerLinkActive="active">Tarife & Contact</a></li>
            <li><a routerLink="/evenimente" routerLinkActive="active">Evenimente</a></li>
        </ul>
    </nav>
</body>