main {
    background-color: #0D0A1A; /* Sau una dintre celelalte nuanțe */
    color: #EAD196; /* Text într-o nuanță caldă, pentru contrast */
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}