<main class="istoric">
  <app-meniu></app-meniu>
  <app-cadran>
    <h2>Istoric și Publicații</h2>
    
    <div class="header-section">
      <h4>- scurt istoric -</h4>
    </div>
    
    <!-- Buton publicații repoziționat în partea dreaptă sus -->
    <div class="publications-button-container">
      <button class="publications-btn" routerLink="/publicatii">
        <span class="button-icon">📚</span>
        Publicații
      </button>
    </div>
    
    <div class="content-section">
      <img src="http://localhost:8080/images/Florian Porcius.jpg" alt="Florian Porcius" class="standard-image left">
      
      <p>
        Primele preocupări privind înfiinţarea unui muzeu la Năsăud datează din a doua jumătate a secolului al XIX-lea.
        Astfel, la data de 24 decembrie 1873, botanistul Florian Porcius – vice-căpitanul districtului năsăudean,
        trimite o adresă direcţiunii Gimnaziului superior greco-catolic din Năsăud prin care anunţă hotărârea Comitetului
        reprezentativ districtual de a înfiinţa în Districtul Năsăudului o „Reuniune de Ştiinţă şi Muzeu".
        În această adresă el face şi un apel la intelectualitatea din localitate să se înscrie ca membri ai respectivei reuniuni.
      </p>
      
      <p>
        Deoarece ideea de a înfiinţa o instituţie culturală românească nu se potrivea cu atitudinea de deznaţionalizare promovată de
        autorităţile Imperiului Austro-Ungar, muzeul rămâne la acea vreme doar în stadiul de proiect. Cu toate acestea, apelul făcut de Florian
        Porcius n-a rămas fără rezultat. Astfel, până la sfârşitul anului şcolar 1873-1874, biblioteca gimnaziului a primit prin donaţie
        numeroase cărţi, iar Cabinetului de ştiinţe naturale îi este donată colecţia de minerale în 1060 de exemplare a cavalerului De Manz. 
        În aceeaşi perioadă, Cabinetul de ştiinţe naturale se îmbogăţeşte cu importantul ierbar al lui Florian Porcius. Totodată, unii profesori 
        ai gimnaziului decid constituirea, în cadrul acestei şcoli, a unor expoziţii ce conţin obiecte găsite de profesori şi elevi în săpături
        arheologice sau care au fost descoperite ocazional de diverse persoane particulare şi oferite apoi şcolii. Aşadar, avem de-a face cu
        primele încercări de a cuprinde într-o expoziţie documentară valori ale culturii năsăudene. Să mai menţionăm că în aproape toate
        anuarele gimnaziului se aminteşte înmulţirea numărului de publicaţii, cărţi, manuscrise şi obiecte de muzeu, o mare parte dintre acestea
        fiind donate de către intelectualii năsăudeni. 
      </p>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/Iulian Martian01.jpg" alt="Iulian Martian" class="standard-image right">
        <p>
          După Marea Unire de la 1 Decembrie 1918 s-a reluat problema înfiinţării Muzeului Năsăudean. În 1923, din iniţiativa unui grup de
          cărturari năsăudeni, ce-l au în frunte pe maiorul în rezervă Iulian Marţian, se hotărăşte organizarea unui muzeu. În acest scop se
          publică un aviz prin care se preciza că Ministerul Artelor îşi dă acordul privind înfiinţarea unui muzeu regional în Năsăud,
          muzeu ce urma să fie găzduit provizoriu într-una din sălile Liceului Grăniceresc „George Coşbuc" din localitate. Se face apel către
          persoanele ce au în posesie cărţi, manuscrise, desene, picturi, monede, vase de lut, ţesături vechi populare, instrumente, obiecte de 
          tehnică populară sau orice alt fel de obiecte să le doneze sau să le vândă acestei instituţii. În aceste circumstanţe, inspectorul 
          general al muzeelor, pe numele său Alexandru Tzigara-Samurcaş, îi aduce lui Iulian Marţian o subvenţie de 10.000 de lei din partea 
          ministrului de resort, pentru crearea unei secţiuni de etnografie în cadrul respectivului muzeu. Cu ajutorul a încă 5.000 de lei ce se 
          găseau în posesia muzeului, au fost strânse suficiente materiale etnografice pentru a se putea declanşa acţiunea de organizare a 
          muzeului. Dar, pe parcurs, entuziasmul s-a stins, iar începând cu anul 1926 încetează acţiunea de strângere a materialelor necesare 
          amenajării muzeului.
        </p>
      </div>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/Virgil Sotropa 2.jpg" alt="Virgil Sotropa" class="standard-image left">
        <p>
          Pe de altă parte, trebuie consemnată şi înfiinţarea, în 1924, din iniţiativa intelectualilor năsăudeni Iuliu Moisil, Virgil Şotropa şi 
          Iulian Marţian, a revistei de orientare istorică şi culturală Arhiva Someşană. Din ea se desprindea clar necesitatea extinderii 
          activităţii de cercetare a ţinutului grăniceresc şi, de asemenea, necesitatea expunerii şi valorificării vestigiilor trecutului într-o 
          instituţie specializată în acest scop.
        </p>
      </div>
      
      <p>    
        Lucrurile încep să evolueze din nou favorabil după ce are loc alegerea lui Iuliu Moisil în funcţia de preşedinte al Despărţământului 
        Năsăud al „Astrei". Acesta împreună cu Virgil Şotropa, Iulian Marţian, Alexa David şi Artene Mureşan au luat decizia de a înfiinţa 
        neîntârziat muzeul.
      </p>
      
      <p>
        În după-masa zilei de 2 august 1931, cei cinci pomeniţi anterior, adunaţi în casa maiorului Iulian Marţian, au semnat actul de 
        constituire a Muzeului Năsăudean. În acest scop, ei au donat recent-înfiinţatei instituţii colecţii de documente, manuscrise, publicaţii, 
        diplome, cărţi şi alte piese de muzeu, obiecte adunate cu trudă în timpul vieţii şi care se aflau în proprietatea lor personală. 
        Iuliu Moisil arată şi care este scopul muzeului, şi anume: „Scopul acestui muzeu este de a forma un centru în jurul căruia să se grupeze
        toţi cei ce doresc să contribuie la studiul, explorarea ţinutului nostru din diferite puncte de vedere: preistoric, istoric, turistic,
        al ştiinţelor naturale, igienic, şcolar, agricol, industrial, patriotic – pentru a dezvolta, populaţiei acestui ţinut gustul pentru istorie,
        literatură, artă şi ştiinţă, a crea şi organiza forţele necesare pentru ridicarea culturală, economică, a ţinutului".
      </p>  
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/Iuliu Moisil.jpg" alt="Iuliu Moisil" class="standard-image right">
        <p>
          În urma cererii fondatorilor, Administraţia Fondurilor Grănicereşti Năsăudene aprobă în acelaşi an, 1931, punerea la dispoziţia
          acestora a două săli mari în incinta imobilului fostului internat al Liceului „George Coşbuc" din Năsăud, pentru a se înfiinţa un muzeu şi o
          bibliotecă. La data de 6 februarie 1932 se pun bazele instituţiei culturale intitulată Muzeul Năsăudean, cu acest prilej redactându-se şi statutele
          acestei instituţii. În continuare s-a purces la acţiunea de executare a mobilierului necesar, precum şi la aranjarea primelor colecţii obţinute din donaţii.
          În această clădire Muzeul Năsăudean va fiinţa până la data de 1 octombrie 1948.
        </p>
      </div>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/cladire veche muz.jpg" alt="Cladire veche muzeu" class="standard-image left">
        <p>
          Datorită donaţiilor făcute de diferite persoane iubitoare de cultură, are loc treptat mărirea fondului documentar, aşa încât în anul 
          1937 revista Arhiva Someşană precizează că Muzeul Năsăudean dispune de patru secţii, după cum urmează:
        </p>
        <ul>
          <li>I. Biblioteca, cu un număr mare de cărţi, cele mai multe dintre ele vechi, câştigate din colecţiile a diferite persoane, îndeosebi profesori.</li> 
          <li>II. O arhivă bogată în acte, manuscrise, documente, corespondenţă care fac referire la istoria şi oamenii marcanţi din ţinutul Năsăudului.</li>
          <li>III. Colecţii de diferite obiecte de muzeu.</li>
          <li>IV. Portrete de fruntaşi ai grănicerilor şi fotografii.</li>
        </ul>
      </div>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/Arhiva Somesana.jpg" alt="Arhiva Somesana" class="standard-image right">
        <p>
          Pentru sporirea autorităţii muzeului şi pentru îmbunătăţirea condiţiilor de funcţionare, fondatorii insistă pentru transformarea lui în 
          instituţie de stat. Astfel, datorită demersurilor făcute de Iuliu Moisil, Direcţia Generală a Arhivelor Statului înfiinţează, 
          în noiembrie 1937, o Subdirecţie a Arhivelor Statului în oraşul Năsăud. Această instituţie nouă cuprindea:
        </p>
        <ul>
          <li>1) toate arhivele vechi ale autorităţilor civile, bisericeşti şi militare ale statului, judeţului şi comunelor din judeţul Năsăud de la acea vreme;</li> 
          <li>2) arhiva, biblioteca şi obiectele de muzeu ale societăţii Muzeul Năsăudean;</li> 
          <li>3) arhivele şi bibliotecile instituţiilor grănicereşti şi ale persoanelor particulare din judeţ.</li> 
        </ul>
      </div>
      
      <p>
        În actul de donaţie făcut de fondatorii muzeului, se specifica faptul că atât arhiva, cât şi muzeul şi biblioteca ce vor fi dăruite să 
        nu se înstrăineze niciodată, să nu fie duse în altă localitate, ci să rămână pentru totdeauna în oraşul Năsăud. Principalul organ de 
        publicitate al muzeului era revista Arhiva Someşană, aflată acum sub conducerea lui Virgil Şotropa. Profesorul pensionar Iuliu Moisil a 
        îndeplinit, fără retribuţie, funcţia de director al muzeului.
        În perioada ocupaţiei maghiare a Ardealului (1940-1944), şi apoi în timpul retragerii trupelor horthyste (în toamna anului 1944), 
        colecţiile muzeului au fost devastate, distruse şi chiar înstrăinate de către ocupanţii străini.
        La data de 1 octombrie 1948, Administraţia Fondurilor Grănicereşti, aflată în lichidare, cedează Arhivelor Statului din oraşul 
        Năsăud pentru obiectele de muzeu, pentru bibliotecă şi pentru arhivă, imobilul fostului hotel „Rahova" (localul ce adăpostise 
        odinioară Casina, iar în prezent Jandarmeria Năsăudeană).
      </p>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/cladire veche muz 2.JPG" alt="Cladire veche muzeu" class="standard-image left">
        <p>
          Cedarea s-a făcut acordându-se dreptul de folosinţă gratuită. La parterul acestei clădiri s-a reuşit să se organizeze, după un an, 
          în cinci săli spaţioase, o expoziţie ce avea caracter istoric şi etnografic. Această expoziţie va constitui nucleul muzeului de mai 
          târziu, muzeu care, ca instituţie bugetară de stat, se va deschide în anul 1950.
          Toată colecţia muzeistică (care, între timp, s-a îmbogăţit cu diferite obiecte obţinute în urma unor donaţii particulare) se va 
          muta în anul 1951 în vechea clădire a „Şvardei", unde se află şi acum. Mai întâi s-a numit Muzeul Regional Năsăud, apoi Muzeul Raional 
          Năsăud şi actualmente Muzeul Grăniceresc Năsăudean.
        </p>
      </div>
      
      <div class="special-section">
        <img src="http://localhost:8080/images/cladire veche muz3.JPG" alt="Cladire veche muzeu" class="standard-image right">
        <div class="text-column">
          <p class="left-aligned-text">
            În ceea ce priveşte actuala clădire ce adăposteşte muzeul, trebuie menţionat că „Şvarda" este fosta cazarmă a Regimentului II
            Românesc de Graniţă: o clădire masivă, puternică inclusă astăzi pe lista monumentelor istorice naţionale. Aceasta a fost ridicată,
            după cum ne informează Virgil Şotropa, în anul 1770, an în care la Năsăud se clădeşte şi biserica romano-catolică. 
          </p>
          <p class="left-aligned-text">
            Iniţial „Şvarda" a avut două nivele, însă în anul 1815 Consiliul aulic al Transilvaniei aprobă dărâmarea etajului superior al cazărmii, din cauza
            faptului că pereţii începuseră a se crăpa, existând astfel ameninţarea prăbuşirii. Până la transformarea ei în muzeu, respectiva clădire
            a funcţionat, printre altele, şi cu rol de internat pentru elevii Şcolii Normale din localitate sau, moment nefericit, grajd pentru 
            animale.
          </p>
        </div>
      </div>
      
      <p>    
        La cererea conducerii muzeului, între anii 1951-1954 şi după aceea, între anii 1961-1964, s-au făcut reparaţii capitale atât în 
        interiorul cât şi în exteriorul clădirii muzeului. Reparaţiile au continuat şi după anul 1989 însă, datorită fondurilor 
        insuficiente de care a beneficiat, muzeul n-a putut dobândi în întregime imaginea pe care o merita. Totuşi, trebuie amintită perioada 
        2001-2002, când din nou clădirea muzeului a fost supusă unor reparaţii capitale, obţinându-se un aspect corespunzător al edificiului.
        Începând cu anul 2006, s-au reluat lucrările în vederea reabilitării muzeului, de data aceasta în cadrul unui proiect de mare 
        complexitate, ce a beneficiat şi de o finanţare Europeană (Fonduri Phare). Proiectul, care a urmărit continuarea lucrărilor de 
        reparaţie începute în anul 2001, a vizat o serie de noi aspecte, iar unul dintre cele mai importante l-a constituit construirea unei 
        clădiri noi în care se regăsesc birourile, o sală de conferinţe, o bibliotecă şi o sală ce are ca destinaţie depozitarea arhivei 
        muzeului (documente, dosare, registre etc.).
      </p>
      
      <p>
        De „Zilele Năsăudului", în mai 2009, s-a inaugurat noua expoziţie de etnografie a muzeului, în prezenţa a numeroşi oaspeţi din 
        Ţara Năsăudului, din judeţ şi din ţară. 
        În anul 2010 a fost finalizată amenajarea secţiei în aer liber, cu specific etnografic, în curtea din spate a muzeului, atracţia 
        principală reprezentând-o o veche casă cu specific ţărănesc, strămutată din localitatea Ilva Mare. Inaugurarea acestei secţii în aer 
        liber s-a făcut în luna decembrie 2010. Un an mai târziu, în decembrie 2011 a avut loc inaugurarea expoziţiei permanente de istorie. 
        Tot legat de muzeul din Năsăud, mai trebuie menţionat faptul că încă din perioada interbelică s-a pus problema strângerii de fonduri 
        băneşti pentru ridicarea unui bust al învăţătorului Vasile Naşcu, o personalitate marcantă a istoriei moderne a Năsăudului. Abia în 
        anul 1967, în urma eforturilor susţinute ale scriitorului Anton Coşbuc, s-a reuşit dezvelirea bustului lui Vasile Naşcu, operă în bronz 
        a renumitului sculptor Corneliu Medrea. Respectivul bust se găseşte amplasat în curtea principală a Muzeului Grăniceresc Năsăudean.    
      </p>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/bust Vasile Nascu.JPG" alt="Bust Vasile Nascu" class="standard-image left">
      </div>
    </div>
  </app-cadran>
</main>