.image-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 20px auto; 
  max-width: 100%;
}

.standard-image {
  width: 250px; 
  height: 350px; 
  object-fit: cover;
  border: 3px solid #EAD196; 
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; 
  margin: 20px auto;
  display:block;
  float: left;
  margin-right: 25px;
  
}

.standard-image:hover {
  transform: scale(1.05);
}

.istoric{
  background-color: #0D0A1A;
  color: #000000;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  position: relative; 
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p{
  text-align: justify;
  line-height: 1.8;
  margin: 20px 0;
  padding: 0 15px;
  overflow: auto;
}

h4{
  color: #000000;
  text-align: center;
  margin: 25px 0 15px 0;
  font-size: 1.4em;
}

ul{
  margin-left: 30px;
  line-height: 1.6;
}

li{
  margin-bottom: 10px;
}