<main class="istoric">
  <app-meniu></app-meniu>
  <app-cadran>
    <h2>{{ 'istoricTitle' | translate }}</h2>
    
    <div class="header-section">
      <h4>{{ 'scurtIstoric' | translate }}</h4>
    </div>
    <!-- Buton publicații repoziționat în partea dreaptă sus -->
    <div class="publications-button-container">
      <button class="publications-btn" routerLink="/publicatii">
        {{ 'publicatiiButton' | translate }}
      </button>
    </div>
    
    <div class="content-section">
      <img src="http://localhost:8080/images/Florian Porcius.jpg" alt="Florian Porcius" class="standard-image left">
      
      <p>
        {{ 'istoricP1' | translate }}
      </p>
      
      <p>
        {{ 'istoricP2' | translate }}
      </p>
      
      <p>
        {{ 'istoricP3' | translate }}
      </p>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/Iulian Martian01.jpg" alt="Iulian Martian" class="standard-image right">
        <p>
          {{ 'istoricP4' | translate }}
        </p>
        
        <p>
          {{ 'istoricP5' | translate }}
        </p>
        
        <p>
          {{ 'istoricP6' | translate }}
        </p>
      </div>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/Virgil Sotropa 2.jpg" alt="Virgil Sotropa" class="standard-image left">
        <p>
          {{ 'istoricP7' | translate }}
        </p>
      </div>
      
      <p>    
        {{ 'istoricP8' | translate }}
      </p>
      
      <p>
        {{ 'istoricP9' | translate }}
      </p> 
      <p>
        {{ 'istoricP10' | translate }}
      </p>  
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/Iuliu Moisil.jpg" alt="Iuliu Moisil" class="standard-image right">
        <p>
          {{ 'istoricP11' | translate }}
        </p>
      </div>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/cladire veche muz.jpg" alt="Cladire veche muzeu" class="standard-image left">
        <p>
          {{ 'istoricP12' | translate }}
        </p>
        <ul>
          <li>{{ 'istoricLi1' | translate }}</li> 
          <li>{{ 'istoricLi2' | translate }}</li>
          <li>{{ 'istoricLi3' | translate }}</li>
          <li>{{ 'istoricLi4' | translate }}</li>
        </ul>
      </div>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/Arhiva Somesana.jpg" alt="Arhiva Somesana" class="standard-image right">
        <p>
          {{ 'istoricP13' | translate }}
        </p>
        <ul>
          <li>{{ 'istoricLi5' | translate }}</li> 
          <li>{{ 'istoricLi6' | translate }}</li> 
          <li>{{ 'istoricLi7' | translate }}</li> 
        </ul>
      </div>
      
      <p>
        {{ 'istoricP14' | translate }}
      </p>
      
      <p>
        {{ 'istoricP15' | translate }}
      </p>
      
      <p>
        {{ 'istoricP16' | translate }}
      </p>
      
      <div class="image-text-section">
        <img src="http://localhost:8080/images/cladire veche muz 2.JPG" alt="Cladire veche muzeu" class="standard-image left">
        <p>
          {{ 'istoricP17' | translate }}
        </p>
      </div>
      
      <div class="special-section">
        <img src="http://localhost:8080/images/cladire veche muz3.JPG" alt="Cladire veche muzeu" class="standard-image right">
        <div class="text-column">
          <p class="left-aligned-text">
            {{ 'istoricP18' | translate }}
          </p>
          <p class="left-aligned-text">
            {{ 'istoricP19' | translate }}
          </p>
        </div>
      </div>
      
      <p>
        {{ 'istoricP20' | translate }}
      </p>
      
      <p>
        {{ 'istoricP21' | translate }}
      </p>
      <div class="image-text-section">
        <img src="http://localhost:8080/images/bust Vasile Nascu.JPG" alt="Bust Vasile Nascu" class="standard-image left">
      </div>
      <p>
        {{ 'istoricP22' | translate }}
      </p>
    </div>
  </app-cadran>
</main>
