/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #080E2D;
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
}

* {
  box-sizing: border-box;
}
