<p>administrator-login works!</p>
<h3>Pagina de logare pentru administrator:</h3>
<div class="login-container">
    <h2>Logare</h2>
    <form>
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Parolă:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="login-btn">Login</button>
    </form>

    
    <button class="register-btn" onclick="window.location.href='creare_cont.html'">Create an account</button>
</div>